:root {
    --background: rgb(219, 149, 239);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: 'MedievalSharp', cursive;
    display: grid;
    background: linear-gradient(45deg, red, green);
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}
main {
    padding: 20px;
}

#ball {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hide {
    display: none;
}

#question-bar {
    padding: 15px 50px 15px 15px;
    font-size: 15px;
    border-radius: 30px;
    text-align: left;
    width: 400px;
}

button {
    padding: 15px 20px 15px 20px;
    font-size: 20px;
    border-radius: 30px;
}

#reset {
    margin-left: auto;
    margin-right: auto;
}

#renderAnswer {
    text-transform: uppercase;
    font-size: xx-large;
    text-align: center;
    background-color: aqua;
}

#prompt {
    margin: auto;
    border: 3px solid green;
    padding: 10px;
}

#reply {
    margin: auto;
    border: 3px solid green;
    padding: 10px;
}
